.fade-up {
  animation: fadeUp 0.6s ease;
}

@keyframes fadeUp {

  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.float-card {
  animation:
    floatCard 4s ease infinite;
}

@keyframes floatCard {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

.chart-animate {
  animation:
    chartFade 1.5s ease;
}

@keyframes chartFade {

  from {
    opacity: 0;
    transform: scale(.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}